/* style code here */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #62306d;
}
.main {
  width: 200px;
  height: 200px;
  background-color: #f7ec7d;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
}
.left {
  width: 100px;
  height: 100px;
  background-color: #f7ec7d;
  position: absolute;
  top: 70%;
  left: 0%;
  border-bottom-right-radius: 25%;
}
.right {
  width: 100px;
  height: 100px;
  background-color: #f7ec7d;
  position: absolute;
  right: 0%;
  bottom: -20%;
  border-bottom-left-radius: 25%;
}
